# Compiled class files
*.class

# Log files
*.log

# Mobile device files
*.apk
*.ipa

# IDE files
.idea/
*.iml
*.ipr
*.iws
target/
out/

# Gradle build files
.gradle/
build/

# Maven build files
target/

# JHipster
.jhipster/

# System files
*.swp
*.swo

# macOS files
.DS_Store

# Windows files
Thumbs.db

# gradle wrapper
gradle/wrapper/gradle-wrapper.jar